<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="/img/rwc2023-logo.png" />
  <link rel="stylesheet" href="/css/style.css" />
  <title>Nodejs pour SDIS</title>
</head>
<body>

  <%- include('header') %>

  <main>
    <%- body %>
  </main>

</body>
</html>